/* General Styles */
body {
  background-color: #2f2f2f; /* Dark grey background */
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Header Section */
.App-header {
  background-color: #333;
  color: rgb(249, 249, 249);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.site-title {
  font-size: 28px;
}

/* Main content area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Upload Section */
.upload-dicom {
  background-color: #444;
  border-radius: 10px;
  padding: 40px;
  width: 600px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  text-align: center;
}

.upload-title {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Dropzone Styles */
.dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
  margin-bottom: 30px;
  background-color: #555;
  transition: background-color 0.3s ease;
}

.dropzone:hover {
  background-color: #666;
}

.dropzone p {
  margin: 0;
  color: #ddd;
  font-size: 18px;
}

/* File Input Styles */
.file-input {
  display: block;
  margin: 0 auto 20px auto;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-input::file-selector-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-input::file-selector-button:hover {
  background-color: #0056b3;
}

/* File Name Display */
.file-name {
  color: #ccc;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Error Message */
.error-text {
  color: red;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Upload Button */
.upload-button {
  padding: 14px 28px;
  background-color: #f143c0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #970d70;
}

/* Button Styles (generic) */
button {
  padding: 10px 20px;
  background-color: #f143c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button:hover {
  background-color: #970d70;
}

button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}



.image-container {
  width: 70%; /*wenn fit-content dann nur so gross wie bilder im container, besser für screen-split*/
  max-width: 100%;    
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.image-container img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 10px;
}


.top-left-button {
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 10;
  padding: 10px 20px;
  background-color: #f143c0;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.bottom-right-button{
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  padding: 10px 20px;
  background-color: #f143c0;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.top-left-button:hover {
  background-color: #970d70;
}


.image-pair {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}


.bounding-box {
  position: absolute;
  border: 2px solid yellow;
  box-shadow: 0 0 10px yellow;
  pointer-events: none;
  z-index: 5;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #970d70;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f143c0;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.toggle-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
  min-width: 300px;
  max-width: 300px;
  flex-shrink: 0;
}

.loading-container p {
  color: #fff;
  font-size: 100px;
  margin-top: 10px;
}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

.loading-container {
  display: relative;
  justify-content: center;
  align-items: center;
}

.loading-container p {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #f143c0, 24px 0 #FFF;
  }
  66% {
    background: #f143c0;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #f143c0;
  }
}
.image-and-info-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 30px;
}

.centered-image-box {
  display: flex;
  justify-content: center;
  flex-grow: 0;
}

.centered-image-box img {
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  display: block;
}

.patient-info-box {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  max-width: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: left;
  flex-shrink: 0;
}
